@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        .main-backround {
            margin: 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            min-height: 90vh;
            min-width: 100vh;
            margin-left: 0px;
            margin-top: 0px;
            background: url('../../Photos/SMG-img.jpg');
            background-size: cover;
        }

        .main-content {
            margin: 0;
            min-height: 90vh;
            min-width: 100vh;
            margin-left: 0px;
            margin-top: 0px;
            padding-top: 3px;
            background-color: rgb(0 0 0 / 0.50);
            color: whitesmoke;
        }

        h1 {
            font-size: 85px;
            text-align: center;
            font-weight: 700;
        }

        h2 {
            text-align: center;
            font-weight: 200;
        }
        li.li-item{
            font-size:30px;
            color:whitesmoke;
            list-style:circle;
        }
        .slogans{
            padding:50px 0px 0px 60px;
        }
    </style>
</head>
<div class="main-backround">
    <div class="main-content">
        <div class="row">
            <h1>SM GROCERY</h1>
            <h2>No more “I can’t find a thing”</h2>
        </div>
        <div class="row">
            <div class="col-md-8 slogans">
                <ul>
                    <li class="li-item">“Buy More, Spend Less”</li>
                    <li class="li-item">“Fresh is Our Middle Name”</liclass="li-item">
                    <li class="li-item">“Your Kitchen’s Companion”</li>
                    <li class="li-item">“Eat Well, Live Better”</li>
                    <li class="li-item">“So Much More for So Much Less”</li>
                </ul>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        <table>
                            <tbody>
                                <tr>
                                    <td>Contact :</td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td>SM Grocery Store</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td>S MAHE</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td>smspidy28@gmail.com</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>&nbsp;&nbsp;</td>
                                    <td>Manavai</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>