
@{
    ViewBag.Title = "LeftMenu";
}
<link href="~/Css/leftMenu.css" rel="stylesheet" />
<div class="row">
    <div class="col-sm-12">
        <div class="LeftMenu">
            <div class="head">
                <label class="title">SM Grocery</label>
            </div>
            <label class="lbl">Billing</label>
            <div class="line mb-1">
            </div>
            <ul>
                <li><a href="/Billing/Index" class="list-item"><i class="bi bi-cart3"></i>&nbsp;&nbsp; Today Sales</a></li>
                <li><a href="/Billing/Orders" class="list-item "><i class="bi bi-list-check"></i>&nbsp;&nbsp;Whole Sale Orders</a></li>
                <li><a href="/Billing/OrderListView" class="list-item "><i class="bi bi-box-seam"></i>&nbsp;&nbsp;Whole Sales Order List</a></li>
                <li><a href="/Billing/RetailPayments" class="list-item "><i class="bi bi-credit-card-2-front"></i>&nbsp;&nbsp;Retail Payments Details</a></li>
                <li><a href="#" class="list-item "><i class="bi bi-cash"></i>&nbsp;&nbsp;WholeSale Payments Details</a></li>

            </ul>
            <label class="lbl">Products</label>
            <div class="line mb-1">
            </div>
            <ul>
                <li><a href="#" class="list-item mb-1"><i class="bi bi-journal-text"></i>&nbsp;&nbsp;Buy Products</a></li>
                <li><a href="/Product/Index" class="list-item mb-1"><i class="bi bi-cart-plus"></i>&nbsp;&nbsp;Add Products</a></li>
                <li><a href="#" class="list-item mb-1"><i class="bi bi-pencil-square"></i>&nbsp;&nbsp;Update / Delete</a></li>
                <li><a href="/Product/Menu" class="list-item mb-1"><i class="bi bi-list-ol"></i>&nbsp;&nbsp;Menu Card</a></li>
                <li><a href="#" class="list-item mb-1">####</a></li>
            </ul>
            <label class="lbl">Stock Details</label>
            <div class="line mb-1">
            </div>
            <ul>
                <li><a href="/Stock/Index" class="list-item mb-1"><i class="bi bi-list-stars"></i>&nbsp;&nbsp;Stock Details</a></li>
                <li><a href="/Stock/BuyGoods" class="list-item mb-1"><i class="bi bi-credit-card"></i>&nbsp;&nbsp;Buy Goods</a></li>
                <li><a href="/Stock/AddStock" class="list-item mb-1"><i class="bi bi-truck"></i>&nbsp;&nbsp;Goods Register</a></li>
                <li><a href="#" class="list-item mb-1"><i class="bi bi-receipt-cutoff"></i>&nbsp;&nbsp;Import Goods Details</a></li>
                <li><a href="#" class="list-item mb-1">&nbsp;&nbsp;####</a></li>
            </ul>
            <label class="lbl">Contact</label>
            <div class="line mb-1">
            </div>
            <ul>
                <li><a href="/Contact/Email" class="list-item mb-1"><i class="bi bi-envelope-at-fill"></i>&nbsp;&nbsp;Send Email</a></li>  
                <li><a href="#" class="list-item mb-1">&nbsp;&nbsp;####</a></li>
            </ul>
        </div>
    </div>
</div>




